<launch>
	<include file="$(find bno055_ros)/launch/imu.launch"/>
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
	<!--<include file="$(find all)/launch/raspicam.launch"/>-->

	<!--<include file="$(find all)/launch/rosbridge.launch"/>-->

	<!--<node pkg="bmi088_ros" type="bmi088Node" name="bmi088_imu"/>
	<node pkg="odometry_path" type="odometry_path.py" name="odometry_path" output="screen">
		<param name="topic_name"         type="string" value="/odom"/>
		<param name="path_name"         type="string" value="/path"/>
	</node>

	<node pkg="odometry_path" type="odometry_path.py" name="odometry_filtered_path" output="screen">
		<param name="topic_name"         type="string" value="/odometry/filtered"/>
		<param name="path_name"         type="string" value="/path/filtered"/>
	</node>

	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
		<rosparam command="load" file="$(find all)/params/ekf_template.yaml" />
	</node>
	-->
	<node name="base_link_to_laser"
		pkg="tf" type="static_transform_publisher"
		args="0.075 0.0 0.0 3.14 0.0 0.0 base_link laser 10"
	/>
	<node name="camera_link_to_laser"
		pkg="tf" type="static_transform_publisher"
		args="0.128 0.0 0.0 0.0 0.0 0.0 base_link camera_link 10"
	/>

	<node pkg="dc_motor" type="DCMotorlistener.py" name="dc_motor_node" output="screen">
		<param name="publish_tf"         type="bool" value="True"/>
	</node>
</launch>
